body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#h3
{
font-size: 18px;
}
canvas{
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
    background-color: red;
}

